TAGS
.project
.cproject
.history
build
Makefile.depend
start
doxygen.warn
.settings
log.settings
video0*
*.a
*.d
*.o
*.so
*.lo
*.la
*~
*#

# Ignoring GTAGS
GTAGS
GRTAGS
GPATH

# Ignore simulation msg output from versioning
*.msg
